.thumbnail {
  border-radius: 10px;
  width: 100%;
  transition: border-radius 0.15s;
}

.video-preview {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 8px;
}

.video-preview:active {
  background-color: rgb(205, 205, 205);
}

.video-title {
  margin-top: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 10px;
}

@media (min-width: 2000px) {
  .video-title {
    font-size: 18px;
    line-height: 24px;
  }
}

.video-title a,
.video-author a {
  text-decoration: none;
  color: inherit;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.profile-picture {
  width: 36px;
  border-radius: 50px;
}

.thumbnail-row {
  margin-bottom: 12px;
  position: relative;
}

.video-author,
.video-stats {
  font-size: 14px;
  color: rgb(96, 96, 96);
}

@media (min-width: 2000px) {
  .video-author,
  .video-stats {
    font-size: 16px;
  }
}

.video-author {
  display: inline-block;
  margin-bottom: 4px;
}

.video-author:hover {
  color: black;
}

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}

@media (max-width: 980px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 981px) and (max-width: 1999px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 2000px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.video-time {
  font-size: 12px;
  font-weight: 500;
  padding: 4px;
  border-radius: 2px;
  background-color: black;
  color: white;
  position: absolute;
  bottom: 8px;
  right: 8px;
}